.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.main .card-video-player {
    width: 52em;
    height: 30em;
    margin-left: 22%;
    margin-top: 2%;
    display: block;
}

.main #portfolioVideo {
    margin: 0 auto;
    top: 1.5em;
    background-color: #1f201ede;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-primary {
    background-color: #008CBA; 
    color: white; 
    border-radius: 5px;
}
  
.btn-primary:hover {
    background-color: rgb(49, 165, 204);
    color: white;
}

.btn-primary#download {
    margin: 0 auto;
    margin-top: 1em;
}

.button-section {
    margin: 0 auto;
    width: 19em;
}